body {
  background-color: darkblue;
  text-align: center;
}

.card {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 8px 16px;
  border-radius: 3px;
}

button {
  background: #E50914;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin: 15px auto;
  padding: 6px 15px;
  border-radius: 2px;
}
