body {
  background: #0d1b2a;
  font-family: Arial,sans-serif;
  color: white;
  text-align: center;
}
  
.card {
  width: 250px;
  background: #1b263b;
  display: block;
  margin: 15px auto;
  padding: 12px 17px;
}

h2 {
  color: #e0e1dd;
}

p {
  color: #a9bcd0;
  font-weight: bold;
}

.rights {
  color: grey;
}
