body {
  background-color: #0B132B;
  text-align: center;
}

.card {
  display: block;
  width: 280px;
  margin: 15px auto;
  padding: 8px 16px;
  border-radius: 3px;
}

button {
  background: #E50914;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  margin: 15px auto;
  padding: 8px 16px;
  border-radius: 2px;
  letter-spacing: 1px;
}

button:hover {
  background-color: #0056D2;
  box-shadow: 0 0 #007BFF;
}
    
footer {
  color: #6C7A91;
}

h2 {
  color: white;
}

.career {
  color: #00FFCC;
}
