body {
  background: #0d1b2a;
  font-family: Arial,sans-serif;
  color: white;
  text-align: center;
}
  
.card {
  width: 10px;
  background: #1b263b;
  box-radius: 10px;
  display: block;
  margin: 12px auto;
  padding: 6px 12px;
}
