body {
  background-color: #1F51FF;
  text-align: center;
}

.card {
  display: block;
  width: 280px;
  margin: 15px auto;
  padding: 8px 16px;
  border-radius: 3px;
}

button {
  background: #E50914;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  margin: 15px auto;
  padding: 8px 16px;
  border-radius: 2px;
  letter-spacing: 1px;
}

button:hover {
  background-color: #0056D2;
  box-shadow: 0 0 #007BFF;
}
    
footer {
  color: #6C7A91;
}

h2 {
  color: white;
}

.career {
  color: #00FFCC;
}

.login {
  width: 320px;
  background: rgba(255, 255, 255, 0.05); /* transparent glass look */
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 25px 30px;
  margin: 30px auto;
  text-align: center;
  transition: 0.3s ease;
}

.login:hover {
  box-shadow: 0 0 40px #E50914; /* Netflix red glow */
  transform: scale(1.03);
}
