body {
  color: dark blue;
}

.cm-btn {
  background: navy;
  color: white;
  display: inline-block;
  margin: 15px auto;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

card {
  display: block;
  margin: 15px;
  padding: 10px 20px
}
